/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.font-Nunito {
    font-family: 'Nunito', sans-serif;
}

.font-Outfit {
    font-family: 'Outfit', sans-serif;
}

.font-Noto {
    font-family: 'Noto Sans JP', sans-serif;
}

.message {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.modal {
    transition: opacity 0.25s ease;
}

body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}